#top-navigation {
  width: 100%;
  height: 80px;
  background: #000051;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0 30px;
  box-sizing: border-box;

  .inner-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  .website-title {
    text-transform: uppercase;
    color: #df78ef;
    font-size: 23px;
    font-weight: 900;
  }
}
